:root {
  --solidBlue: #0d6efd;
  --white: #ffffff;
  --paddings: 16px 62px;
}

body {
  background-image: url("./../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: #000000;
}
ul,
li,
p {
  margin: 0;
  padding: 0;
}
