:root {
    --solidBlue: #0D6EFD;
    --white: #ffffff;
    --paddings: 16px 62px;
}

body {
    background-image: url("./../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
ul,
li,
p {
    margin: 0;
    padding: 0;
}