@import "./fonts.css";
@import "./globals.css";

/* <header-navigation> */
.sl-header {
    height: 80px;
    position: fixed;
    padding: var(--paddings);
    width: 100%;
    -webkit-transition: background-color .3s ease-out, height .3s ease-out;
    -moz-transition: background-color .3s ease-out, height .3s ease-out;
    -o-transition: background-color .3s ease-out, height .3s ease-out;
    transition: background-color .3s ease-out, height .3s ease-out;
}
header.sl-trans-background {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
header.sl-trans-size {
    height: 70px;
}
.sl-nav {
    display: flex;
    width: 100%;
    height: 48px;
    justify-content: space-between;
    align-items: center;
    -webkit-transition: width .3s ease-out, height .3s ease-out;
    -moz-transition: width .3s ease-out, height .3s ease-out;
    -o-transition: width .3s ease-out, height .3s ease-out;
    transition: width .3s ease-out, height .3s ease-out;
}
header.sl-trans-size .sl-nav {
    width: 100%;
    height: 38px;
}
.sl-nav-items {
    display: flex;
}

.sl-nav-items li {
    list-style-type: none;
    color: var(--white);
    padding: 0 1rem;
}
.sl-nav-items li a {
    text-decoration: none;
    color: inherit;
}
.sl-call-to-action {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 210px;
    height: 32px;
    border-radius: 16px;
    font-size: 14px;
    border: none;
    background-color: var(--solidBlue);
    color: var(--white);
}
.sl-call-to-action:focus {
    outline: none;
}
/* </header-navigation> */

/* <section> */
.sl-section {
    padding: var(--paddings);
    padding-bottom: 62px;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    letter-spacing: -0.06em;
    line-height: 90px;
}
.sl-section p {
    font-family: Kelson;
    font-weight: 700;
    color: white;
    font-size: 65px;
}
.sl-section .sl-button-in-section {
    margin-top: 20px;
}
/* </section> */


/* <footer> */
footer.sl-footer {
    background-color: black;
    padding: var(--paddings);
    color: white;
}
.sl-footer-inner-wrapper {
    padding-top: 48px;
}
.sl-footer-upside {
    display: flex;
}
.sl-footer-social,
.sl-footer-information {
    font-size: 12px;
}
.sl-footer-title {
    width: 187px;
    font-size: 10px;
    border-bottom: var(--white) solid 1px;
    margin-bottom: 10px;
    padding: 4px 0;
    letter-spacing: 1.5px;
}
.sl-footer-info-values {
    line-height: 16px;
    letter-spacing: 0.4px;
    font-style: normal;
    font-weight: normal;
}
.sl-footer-info-values a[name="email"] {
    text-decoration: none;
}
div[name="social"].sl-footer-social  {
    margin-left: 30px;
}
.sl-footer-social-wrapper {
    display: flex;
    list-style-type: none;
}
ul.sl-footer-social-wrapper li {
    margin-right: 5px;
}
.sl-footer-rights-text {
    margin-top: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    opacity: 0.4;
    letter-spacing: 0.4px;
}
/* </footer> */